<h1>Traveling SalesMan Demo</h1>
<label>Max Generation</label>
<input id="gen"></input>
</br>
<label>Population Size</label>
<input id="pop"></input>
<label>Mutation Rate</label>
<input id="mutation"></input>
<%= button_tag "start", id: "start" %>
